/*-----------------------------------*/
/* Pages */
/*-----------------------------------*/
/* Icon Colors:
    HSL: 125, 85, 80.
    RGB: 55, 105, 115
*/
.full-page{
    height: calc(100vh - 50px);
}
.full-page-bottom-bar{
    height: calc(100vh - 100px);
}
.plugins-main-content{
    height: calc(4 * (100vh - 50px));/*calc(5*40vh + 5*5vh);*/
}

/* Page backgrounds */
.home-page-img{
    background: url("../images/HomeBackground.png");
}
.about-page-img{
    background: url("../images/AboutBackground.png");
}

.plugins-page-img{
    background: url("../images/PluginsBackground.png");
}

.games-page-img{
    background: url("../images/GamesBackgroundKeys.png");
}

.page-background{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*-----------------------------------*/
/* Section Images */
/*-----------------------------------*/
/* General */
.img-background{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}
.img-background-scroll{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.icon-img{
    background: url("../images/icon-main.png") no-repeat;
	background-size: cover;
	background-position: center center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* Home */
.home-img{
    border-radius: 50%;
    max-width: 300px;
}
/* About */
.about-img{
    max-width: 100px;
    max-height: 100px;
    align-content: center;
    border-radius: 50%;
}
.about-outro-img{
    background: url("../images/rocker.gif");
}
/* Plugins And Tools */
.tools-meter-img{
    background: url("../images/PluginsTools/3DMeter.png");
}
.tools-spring-img{
    background: url("../images/PluginsTools/MassSpring.png");
}
.tools-unrealjuce-img{
    background: url("../images/PluginsTools/UnrealJUCE.png");
}
.tools-featureextractor-img{
    background: url("../images/PluginsTools/FeatureExtractor.png");
}

/*-----------------------------------*/
/* Nav UI */
/*-----------------------------------*/
.button-icon{
    height: 100%;
    margin: none;
    object-fit: contain;
    align-content: center;
}
.nav-button-icon{
    height: 100%;
    margin: none;
    object-fit: contain;
    align-content: center;
}
.nav-bar{
    background: rgb(25, 75, 85);/*rgb(240,240,240);*/
}
.title-nav{
    height: 50px;
    background-color: rgb(25, 75, 85);
}

/*-----------------------------------*/
/* Text */
/*-----------------------------------*/
/* General */
.title-section{
    background-color: rgb(25, 75, 85);
}
p{
    text-align: justify;
    text-align-last: center;
}
.para-thin{
    max-width: 300px;
}
.para-wide{
    max-width: 600px;
}
.text-center{
    text-align: center;
}
.montserrat{
    font-family: 'Montserrat Alternates', sans-serif;
}
.heebo{
    font-family: 'Heebo', sans-serif;
}
.right-text{
    text-align: right;
}
.title-text{
    color: white;
    white-space: nowrap;
    background-color: rgb(25, 75, 85);
}
.text-dark{
    color: rgb(75, 75, 75);
}
.text-light{
    color: rgb(240, 240, 240);
}
.menu-text{
    background-color: rgb(25, 75, 85);
}
/* Plugins And Tools */
.tools-text{
    width: 60%;
    margin: 0 auto;
    max-width: 300px;
    min-width: 200px;
}
/*-----------------------------------*/
/* Misc */
/*-----------------------------------*/
.start-hidden{
    visibility: hidden;
}

.centre-content{
    justify-content: center;
    text-align: center;
}

.fill-inner-height{
    height: 100%;
}

.full-width{
    padding: 0;
    margin: 0;
    align-content: center;
}


.tool-link{
    /*cursor: pointer;
    border-radius: 50%;*/
    /*margin-left: 10%;
    margin-right: 10%;*/
    /*width: 80%;
    max-width: 300px;
    height: 40vh;
    margin: 0 auto;
    margin-top: 5vh;*/
    width: 100%;
}
.tool-link-last{
    margin-bottom: 5vh;
}

/*-----------------------------------*/
/* Sticky */
/*-----------------------------------*/
.stick-to-top{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 255;
    width: 100%;
    height: 50px;
}

.stick-to-top .is-dropdown-submenu{
    position: absolute;
    z-index: 260;
}

.stick-to-bottom{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 50px;
    z-index: 200;
    width: 100%;
    height: 50px;
}

/*-----------------------------------*/
/* THREE.js */
/*-----------------------------------*/
.three-canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*border-radius: 3%;*/
    touch-action: none;
}

/*-----------------------------------*/
/* Unity Canvas Controls */
/*-----------------------------------*/
.unity-demo{
    width: 800px;
    height: 344px;
    margin: 0 auto;
}
.fullscreen-button{
    height: 100%;
    margin: none;
    object-fit: contain;
    float: right;
}

/*-----------------------------------*/
/* Menu & Link Color */
/*-----------------------------------*/
.dropdown.menu > li.is-dropdown-submenu-parent > a::after{
    border-color: #FFFFFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    color: white;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a:link{
    color: white;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a:visited{
    color: white;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a:hover{
    color: white;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a:active{
    color: white;
}

.menu > li > a:link{
    color: white;
}
.menu > li > a:visited{
    color: white;
}
.menu > li > a:hover{
    color: white;
}
.menu > li > a:active{
    color: white;
}

a{
    color: white;
}
a.link{
    color: white;
}
a.visited{
    color: white;
}
a.hover{
    color: white;
}
a.active{
    color: white;
}

.is-dropdown-submenu{
    background-color: rgb(25, 75, 85);
}
.is-submenu-item .is-dropdown-submenu-item{
    background-color: rgb(25, 75, 85);
}

/*-----------------------------------*/
/* Debug */
/*-----------------------------------*/
.debug-pink{
    background-color: pink;
}
.debug-lime{
    background-color: lime;
}
.debug-black{
    background-color: black;
}